<!-- first we are extending the html from base.html and creating the rest of the page
     this is the usage of the jinja from flask -->
{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Info about our blog</h1>
    <p>I am preetham and I am a computer science engineer.<br>Currently working in the TCS as System Engineer.<br>
    I want to create a blog where every user wants to give their information about technology that they want to share.<br>
    I am doing this thing because I want to create a whole functional project through flask.<br>
    I am doing this website with existing code from the course I have taken from udemy.</p>
  </div>
{% endblock %}
